# Minecraft Server Settings
MINECRAFT_LEVEL_NAME=Bedrock level

# Common Settings
TZ=Asia/Tokyo

# Rust Server Settings
RUST_SERVER_NAME=My Rust Server
RUST_SERVER_DESCRIPTION=Welcome to our Rust server!
RUST_SERVER_MAXPLAYERS=30
RUST_SERVER_WORLDSIZE=3500
RUST_SERVER_SEED=2102973004
RUST_SERVER_SAVE_INTERVAL=300
RUST_RCON_PASSWORD=changeme
# Palworld Server Settings
PALWORLD_SERVER_PASSWORD=changeme
PALWORLD_ADMIN_PASSWORD=changeme
PALWORLD_PUBLIC_IP=203.0.113.10
PALWORLD_PUBLIC_PORT=9680
PALWORLD_SERVER_NAME=My Palworld Server
PALWORLD_SERVER_DESCRIPTION=Friends-only Palworld server
